/* quita el margen y el padding y ocupa el 100% de la vista*/
* {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* le da tamaño al boton buscar */
#buscar{
    width: 20%;
    color: white;
}
/* le añade una transicion al boton buscar */
#buscar:hover{
    background-color: #2A95E3;
}
/* le da tamaño a la imagen de los card */
.card img {
    width: 100%;
    height: 85%;
}
/* le da margen superior al div */
#div1{
    margin-top: 8em;
}
/* le da tamaño automatico a las filas de peliculas */
.row{
    width: auto;
    height: auto;
} 
/* le pone margen, tamaño y borde a las card */
.card {
    margin: 0.13em;
    width: 15em;
    height: 30em;
    border: 1px solid black
}
/* le da tamaño al titulo de la pelicula */
h5 {
    font-size: 0.8rem;
    box-sizing: border-box;
}
/* le da tamaño al nav */
nav {
    width: 100%;
}
/* le da tamaño a la imagen del modal */
#imagen {
    width: 100%;
    height: 26.25em;
}
/* le da tamaño al boton cerrar del modal */
.close{
    width: auto;
    height: auto;
}
/* le da tamaño al logo */
#logo{
    width: 9.3em;
    height: 4.3em;
}
/* le da margen al boton hamburguesa */
#botonDesplegable{
    margin-bottom: 0.8em;
}
/* le da color al header del modal */
.modal-header{
    color:white;
    background-color:#2A95E3;
}
/* le da tamaño al span que contiene las estrellas de la clasificacion del modal */
.star-rating span{
    width: auto;
    height: auto;
}
/* clase que se le da a las estrellas cuando tiene que estar marcadas */
.checked {
    color: orange;

}
